@model PotentialForAfrica.Models.CandidatModel

@{
    ViewData["Title"] = "Cabdidature";
}
@if (ViewBag.message != null)
{
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@ViewBag.message</strong>
    </div>
}
<hr />
<div class="alert alert-warning alert-dismissible" id="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Format de fichier invalide!</strong> Le CV doit étre en format PDF ou format Image.
</div>
<div class="alert alert-success alert-dismissible">
Postuler à l'offre <strong>développeur dotnet</strong>
</div>
<div class="container align-content-center">
    <form asp-action="Create" id="form" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Prenom" class="control-label"></label>
                    <input asp-for="Prenom" class="form-control" />
                    <span asp-validation-for="Prenom" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Mail" class="control-label"></label>
                    <input asp-for="Mail" class="form-control" />
                    <span asp-validation-for="Mail" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Telehone" class="control-label"></label>
                    <input asp-for="Telehone" class="form-control" />
                    <span asp-validation-for="Telehone" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="NiveauEtude" class="control-label"></label>
                    <input asp-for="NiveauEtude" class="form-control" />
                    <span asp-validation-for="NiveauEtude" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="NbreAnneeExperience" class="control-label"></label>
                    <input asp-for="NbreAnneeExperience" class="form-control" />
                    <span asp-validation-for="NbreAnneeExperience" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="DernierEmployeur" class="control-label"></label>
                    <input asp-for="DernierEmployeur" class="form-control" />
                    <span asp-validation-for="DernierEmployeur" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">CV</label>
                    <input id="FileUpload" class="form-control" type="file" name="FileCV">
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="form-group">
                <input type="submit" value="Postuler" class="btn btn-success float-md-end" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        $(document).ready(function () {
            $('#alert').hide();
            $("#form").on("submit", function (e) {

                var $input = $("#FileUpload");

                var files = $input[0].files;

                var filename = files[0].name;

                var extension = filename.substr(filename.lastIndexOf("."));

                var allowedExtensionsRegx = /(\.jpg|\.jpeg|\.png|\.pdf)$/i;

                var isAllowed = allowedExtensionsRegx.test(extension);

                if (!isAllowed) {
                    e.preventDefault(e);
                    $('#alert').show();
                }
            });
        });
    </script>
    }
